<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejercicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="xd">

    <div class="led">
    <ion-button (click)="toogleState()" shape="round" [color]="ledStatus ? 'success' : 'danger'"> <ion-icon name="power-outline"> </ion-icon> </ion-button>
    <h5> LED 1</h5>  
  </div>
  <div class="led">
    <ion-button (click)="toogleStateL2()" shape="round" [color]="ledStatusL2 ? 'success' : 'danger'"> <ion-icon name="power-outline"> </ion-icon> </ion-button>  
    <h5> LED 2</h5>  
  </div>
  <div class="led">
    <ion-button (click)="toogleStateL3()" shape="round" [color]="ledStatusL3 ? 'success' : 'danger'"> <ion-icon name="power-outline"> </ion-icon> </ion-button>  
    <h5> LED 3</h5>  
  </div>
  <div class="led">
    <ion-button (click)="toogleStateL4()" shape="round" [color]="ledStatusL4 ? 'success' : 'danger'"> <ion-icon name="power-outline"> </ion-icon> </ion-button>  
    <h5> LED 4</h5>  
  </div>
  </div>
</ion-content>
